@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,600;0,800;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Merriweather;
    margin: auto;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 60vw;
    height: 60vh;
    text-align: center;
    margin-top: 20rem;
}

.card-face{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border-radius: 25px;
}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.2rem;
    font-weight: 800;
    background-color: #000;
    color: #fff;
    padding: 16px;
    gap: 35px;
    text-transform: capitalize;
}


.number {
    background-color: #eb4c3b;
    
}

img{
    width: 100%;
}

.name{
    background-color: #eb4c3b;
    color: #fff;
    height: 4rem;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 3rem;
    margin-top: -5px;

}

.description{
    background-color: #000;
    color: #fff;
    padding: 1.5rem;
}

.card-back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-left: 2rem;
}

.border-line{
    width: 100%;
    height: 1.5rem;
    background-color: #eb4c3b;
}

.first{
    margin-top: 15px;
    margin-bottom: 1.5rem;
}

.second{
    margin-top: 8.5rem;
}

.fun-facts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
}

.facts{
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
}

.info{
    font-weight: 400;
    font-size: 1.5em;
}